.container00 {
  &.container01 {
    background-image: url(../images/home/Webb.png);
    background-position: center 20%;
  }

  &.container02 {
    background-image: url(../images/home/WebbAriane_5.jpg);
    background-position: center 20%;
  }

  &.container03 {
    background-image: url();
  }

  &.container04 {
    background-image: url(../images/home/tarantula_nebula.jpg);
  }

  &.container06 {
    background-image: url(../images/gallery/carinanebula.jpg);
  }

  &.container07 {
    background-image: url(../images/home/Webb_Ariane.jpg);
    background-position: center 0%;
  }

  &.container08 {
    background-image: url(../images/home/Webb_Fuel.png);
    background-position: center 0%;
  }
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.font-sm {
  font-size: 20px;
  font-weight: 300;
}
