.container00 {
    &.container07 {
      background-image: url(../images/home/Webb_stages.jpeg);
      background-position: center 40%;
    }
  
    &.container08 {
      background-image: url(../images/home/Webb_transport01.jpg);
      background-position: center 70%;
    }

    &.container09 {
      background-image: url(../images/home/Webb_transport02.jpg);
      background-position: center 30%;
    }

    &.container10 {
      background-image: url(../images/home/Webb_transport03.jpg);
    }

    
    &.container11 {
      background-image: url(../images/home/Webb_transport04.jpg);
      background-position: center 30%;
    }

    &.container12 {
        background-image: url(../images/home/Webb_Fuel.png);
        background-position: center 0%;
      }
  }